body {
  margin: 0;
  height: 850px;
}

.profile-box {
  background-color: #242424;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 60px;
}

p {
  margin: 0;
  color: #FFCD28;
  font-weight: bold;
}

.name {
  height: 50px;
  width: 600px;
  position: relative;
  top: 250px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 17px;
}

.mail {
  height: 50px;
  width: 600px;
  position: relative;
  top: 280px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 17px;
}

.pass {
  height: 50px;
  width: 600px;
  position: relative;
  top: 310px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 17px;
}

.update {
  height: 45px;
  width: 150px;
  position: relative;
  top: 340px;
  margin: 0 auto;
  background-color: #FFCD28;
  border-radius: 10px;
  font-size: 17px;
}