body {
  margin: 0;
  height: 850px;
}

.signup-box {
  background-color: #242424;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.name {
  height: 50px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-top: 380px;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 17px;
}

.mail {
  height: 50px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 17px;
}

.pass {
  height: 50px;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 10px;
  font-size: 17px;
}

.signup {
  height: 50px;
  width: 600px;
  margin: 0 auto;
  background-color: #FFCD28;
  border-radius: 10px;
  font-size: 17px;
}